.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.PostsContainer {
  display: flex;

  flex-wrap: wrap;
  height: 100%;
}

.flex {
  display: flex;
}

.card {
  width: 250px;
  margin: 5px;
  text-align: center;
}

.card-subtitle {
  font-size: 16px !important;
}

.card-button {
  margin: 4px !important;
}

.card-img-container {
  height: 200px;
}

.card-text-container {
  margin: 3px !important;
  padding: 0px !important;
}

html,
body,
#app {
  height: 100%;
}

.Form {
  margin: 10px;
  display: flex;
}

.addButton {
  position: absolute;
  left: 90%;
  top: 100%;
  border-radius: 50% !important;
}

.main {
  margin-top: 25px;
}
